html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding-top: 60px;
  font-family: Noto Sans, sans-serif;
  line-height: 1.5;
}

.header {
  background: #fff;
  border-bottom: 1px solid #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}
.header-inner {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 8px;
  padding-bottom: 8px;
}
@media (max-width: 992px) {
  .header-inner {
    justify-content: space-between;
  }
}
.container {
  max-width: 1296px;
  margin: 0 auto;
}
@media (max-width: 1295px) {
  .container {
    padding-left: 12px;
    padding-right: 12px;
  }
}
.logo {
  margin-right: 318px;
}
@media (max-width: 992px) {
  .logo {
    margin-right: 0px;
  }
}
.menu {
  display: flex;
  gap: 40px;
}

.menu .menu-list a {
  color: #000;
  font-size: 16px;
  line-height: 1.5;
  text-decoration: none;
  padding: 4px 8px;
  position: relative;
}

.menu .menu-list a::before,
.menu .menu-list a::after {
  content: "";
  position: absolute;
  width: 8px;
  height: 8px;
  border: 1px solid #919191;
  opacity: 0;
  -webkit-box-reflect: below 16px;
}

.menu .menu-list a::before {
  top: 0;
  left: 0;
  border-right: none;
  border-bottom: none;
}

.menu .menu-list a::after {
  top: 0;
  right: 0;
  border-left: none;
  border-bottom: none;
}

.menu .menu-list a:hover::before,
.menu .menu-list a:hover::after {
  opacity: 1;
}
.menu-btn {
  display: none;
  cursor: pointer;
}
.menu-btn .menu-icon {
  display: none;
}
.menu-control:checked + .menu-btn .open {
  display: none;
}
.menu-control:checked + .menu-btn .close {
  display: inline;
}
.menu-control:not(:checked) + .menu-btn .open {
  display: inline;
}
.menu-control:not(:checked) + .menu-btn .close {
  display: none;
}
.menu-control {
  display: none;
}
@media (max-width: 992px) {
  .menu-btn {
    display: block;
  }
  .menu {
    display: none;
  }

  .menu-control:checked ~ .menu {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
}

/* title */
.title {
  background: #fafafa;
  padding-top: 80px;
  padding-bottom: 80px;
  margin-bottom: 120px;
}

.title-slogan {
  width: 670px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 83px;
}

.title-slogan h2 {
  text-align: center;
  font-size: 24px;
  color: #1e1e1e;
}

.title h2::before {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-left.png?raw=true);
}

.title h2::after {
  content: "";
  display: block;
  width: 72px;
  height: 72px;
  background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2024%20web-camp/quote-right.png?raw=true);
  position: absolute;
  right: 0;
}

.experience {
  width: 636px;
  margin: 0 auto;
  display: flex;
  gap: 8px;
}

.experience-2b,
.experience-2c {
  width: 298px;
  text-align: center;
  position: relative;
}

.experience-2b h3,
.experience-2c h3 {
  color: #5b5b5b;
  margin-bottom: 8px;
}

hr {
  width: 24px;
  border: 1px solid #c1c1c1;
}

.experience-2b p,
.experience-2c p {
  color: #3b3b3b;
}

@media (max-width: 768px) {
  .title {
    padding: 40px 38px 0 38px;
    margin-bottom: 80px;
  }

  .title-slogan {
    width: 100%;
    margin-bottom: 40px;
  }

  .title-slogan h2 {
    font-size: 20px;
  }

  .title h2::before {
    content: "";
    display: block;
    margin: 0 auto;
  }

  .title h2::after {
    display: none;
  }

  .experience {
    flex-direction: column;
    max-width: 100%;
    padding-bottom: 80px;
  }

  .experience-2b,
  .experience-2c {
    width: 100%;
  }

  .experience-2b {
    margin-bottom: 20px;
  }

  .experience-2b h3,
  .experience-2c h3 {
    margin-bottom: 4px;
  }
}

/* work */
.work {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
  max-width: 1296px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 80px 24px;
}

.work-list img {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}

.work-list h2 {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 8px;
  color: #3b3b3b;
}

.work-list h2,
.work-list p,
.work-list .tags {
  padding-left: 16px;
}

.work-list p {
  margin-bottom: 24px;
  color: #919191;
}

.work-list p,
.tags li {
  line-height: 1.2;
}

.tags {
  display: flex;
}

.tags li {
  padding: 4px 12px;
  background: #f1f1f1;
  border-radius: 16px;
  margin-right: 16px;
  color: #3b3b3b;
}

.work-pages {
  max-width: 1296px;
  margin: 0 auto;
  margin-bottom: 120px;
}

.work-pageslist {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.work-pageslist li {
  text-align: center;
  align-content: center;
  border-radius: 4px;
}

.work-pageslist li:hover {
  background: #000;
  color: #fff;
}

.work-pageslist li a {
  display: block;
  padding: 8px 13px;
  color: #000;
  text-decoration: none;
}

.work-pageslist li a:hover {
  color: #fff;
  background: #000;
  border-radius: 8px;
}

.work-pageslist {
  font-size: 24px;
}

@media (max-width: 768px) {
  .work {
    padding-right: 16px;
    padding-left: 16px;
    margin-bottom: 48px;
    padding-bottom: 0;
    gap: 48px 0;
  }
}

.footer {
  background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/footer-bg-lg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 119px 0;
}

.footer-container {
  max-width: 1296px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-about p,
.footer-social li a {
  font-size: 20px;
  color: #3b3b3b;
}

.mailbox a {
  color: #919191;
}

.footer-social ul {
  list-style: none;
}

.footer-social li:nth-child(1),
.footer-social li:nth-child(2) {
  margin-bottom: 24px;
}

.footer-social li:nth-child(1) a {
  background: #000000;
  color: #ffffff;
}

.footer-social li a {
  display: block;
  padding: 8px 24px;
  border-radius: 8px;
  background: #ffffff;
  border: 1px solid #c1c1c1;
  display: flex;
  align-items: center;
}

.footer-social li a img {
  margin-right: 8px;
}

.mailbox a,
.footer-social li a {
  text-decoration: none;
}

@media (max-width: 768px) {
  .footer {
    background-image: url(https://raw.githubusercontent.com/hexschool/2022-web-layout-training/main/2024%20web-camp/footer-bg-sm.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 40px 0;
  }

  .footer-container {
    max-width: 1296px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 34px;
  }

  .footer-about {
    width: 351px;
    height: 178px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .footer-about img {
    width: 120px;
  }

  .footer-social ul {
    margin-top: 40px;
    padding: 0;
  }

  .footer-social {
    width: 100%;
  }
}
